<form [formGroup]="authForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="mb-3">
    <input
      formControlName="username"
      type="text"
      class="form-control"
      name="username"
      placeholder="username"
    />
  </div>
  <div></div>
  <div class="mb-3">
    <input
      formControlName="password"
      type="password"
      class="form-control"
      name="password"
      placeholder="password"
    />
  </div>
  <div class="text-center">
    <button class="btn btn-succes me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
