<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Angular dotnet</a
    >

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/members"
            routerLinkActive="active"
            aria-current="page"
            href="#"
            >Match</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLinkActive="active"
            routerLink="/lists"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-disabled="true"
            routerLinkActive="active"
            routerLink="/messages"
            >Messages</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-disabled="true" (click)="logOut()">Logout</a>
        </li>
      </ng-container>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLinkActive="active"
          routerLink="/errors"
          >Errors</a
        >
      </li>
    </ul>

    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle
        >Welcome {{ user.username }}
      </a>
      <div class="dropdown-menu" *dropdownMenu="">
        <a class="dropdown-item">Edit profile</a>
        <a class="dropdown-item" (click)="logOut()">Logout</a>
      </div>
    </div>
    <form
      *ngIf="!(accountService.currentUser$ | async)"
      (ngSubmit)="login()"
      [formGroup]="authForm"
      class="d-flex"
      role="search"
    >
      <div style="display: flex" formGroupName="userDataGroup">
        <input
          formControlName="username"
          class="form-control me-2"
          name="username"
          type="text"
          placeholder="Username"
          aria-label="Search"
        />
        <input
          formControlName="password"
          name="password"
          class="form-control me-2"
          type="password"
          placeholder="Password"
          aria-label="Search"
        />
      </div>
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
