<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular dotnet</a>

    <ul
      *ngIf="accountService.currentUser$ | async"
      class="navbar-nav me-auto mb-2 mb-md-0"
    >
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Match</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-disabled="true">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-disabled="true" (click)="logOut()">Logout</a>
      </li>
    </ul>

    <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle
        >Welcome user
      </a>
      <div class="dropdown-menu" *dropdownMenu="">
        <a class="dropdown-item">Edit profile</a>
        <a class="dropdown-item" (click)="logOut()">Logout</a>
      </div>
    </div>
    <form
      *ngIf="!(accountService.currentUser$ | async)"
      (ngSubmit)="login()"
      [formGroup]="authForm"
      class="d-flex"
      role="search"
    >
      <div style="display: flex" formGroupName="userDataGroup">
        <input
          formControlName="username"
          class="form-control me-2"
          name="username"
          type="text"
          placeholder="Username"
          aria-label="Search"
        />
        <input
          formControlName="password"
          name="password"
          class="form-control me-2"
          type="password"
          placeholder="Password"
          aria-label="Search"
        />
      </div>
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
